<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Restaurant</servlet-name>
        <servlet-class>cat.xtec.ioc.dawm07eac2restaurantEnunciat.Restaurant</servlet-class>
        <init-param>
            <param-name>Aupres</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>Cepages</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>Grenier</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>Lamelolise</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>Levernois</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>Montrachet</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>Pierre</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>PontdeParis</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Restaurant</servlet-name>
        <url-pattern>/Restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Restaurant</servlet-name>
        <url-pattern>/NouRest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
